<script type="text/javascript">

var Config = {
    apiKey : "{{Insert API Key}}",
    clientId : "{{Insert Client Id}}", 
    fusionTableId : "{{Insert Fusion Table Id}}", 
    staticMapUrl : 'https://maps.googleapis.com/maps/api/staticmap'
};

</script>